body {
	font-family: Arial, Helvetica, sans-serif;
}

section[id="hero"],
section[id="selectors"] {
	max-width: 600px;
	margin: auto;
}

section[id="selectors"] {
	padding-top: 20px;
	padding-bottom: 50px;
}

section[id="selectors"] select {
	font-size: 18px;
}

section[id="data-viewer"] {
	max-width: 1500px;
	margin: auto;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	/* table-layout: fixed; */
	overflow: hidden;
	scroll-margin-top: 80px;
}

table caption {
	font-size: 1.5em;
	margin: 0.5em 0 0.75em;
}

table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 0.35em;
}

table th,
table td {
	padding: 0.625em;
	text-align: center;
}

table td:nth-child(1),
table th:nth-child(1) {
	position: sticky;
	left: 0;
	background-color: #f8f8f8;
}

table th:nth-child(n + 9) {
	text-align: right;
}

table td[data-type="number"] {
	text-align: right;
}

table th {
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
